body {
    background-color:black;
    font-family:arial;
    color:white;
}
h1{
    color:grey;
    font-family:verdana;
}
.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin:auto;
}
.container{
    margin-left:60px;
}
.infolable{
    width:100px;
    float:left;
}
.highlight{
    background-color:yellow; 
    font-weight:bold;
}


